<template>
  <q-page class="anmelden">
    <q-img
      src="../statics/logo.svg"
      spinner-color="white"
      class="app-logo"
    />

    <h4 class="text-center no-margin no-padding">Chat App</h4>

    <q-input outlined v-model="email" placeholder="E-Mail" style="margin-top: 2em;"/>
    <q-input outlined v-model="password" placeholder="Passwort" style="margin-top: .625em;"/>

    <p class="text-right opacity-l">Hast du dein Passwort vergessen?</p>

    <q-btn color="primary" label="Anmelden" class="ch-btn" @click="$router.push('/home')"/>

    <p class="text-center" style="margin-top: 2em">Noch kein Konto? Hier <span style="color: #4B87C8" @click="$router.push('/register')">registrieren</span></p>
  </q-page>
</template>

<style lang="stylus" scoped>
  .anmelden
    padding 0.625em
  .app-logo
    width 10em
    margin: 4em auto;
    display: block;

  .anmelden p
    font-size 12px
</style>

<script>
export default {
  name: 'PageIndex',
    data(){
      return{
          email: 'rami.almofleh@web.de',
          password: '123456'
      }
    }
}
</script>
