<template>
  <q-page class="gray-bg">
    <div v-for="i in benutzer.nachrichten" class="q-px-md q-pt-md">
      <q-chat-message
        class="q-pa-none"
        v-if="i.sender === 0"
        name="Du"
        :text="i.nachricht"
        :stamp="i.time"
        sent
        bg-color="amber-1"
      />

      <q-chat-message
        class="q-pa-none"
        v-if="i.sender === 1"
        :name="benutzer.name"
        :text="i.nachricht"
        :stamp="i.time"
        text-color="white"
        bg-color="primary"
      />
    </div>

    <div style="min-height: 1em"></div>

    <q-footer style="background: white" class="q-pa-xs">
      <q-input  v-model="nachricht" label="Nachricht" @keydown.enter.prevent="nachrichtSenden">
        <template v-slot:before>
          <q-btn round dense flat icon="attach_file" />
        </template>
        <template v-slot:after>
          <q-btn round dense flat icon="send" @click="nachrichtSenden" />
        </template>
      </q-input>
    </q-footer>
  </q-page>
</template>

<style lang="stylus" scoped>
</style>

<script>
export default {
  name: 'PageIndex',
    computed: {
        benutzer: function (){
            return this.$store.getters['chat/getBenutzer'](this.$route.query.id);
        }
    },
    data(){
      return{
          nachricht: ''
      }
    },
    methods: {
        nachrichtSenden(){
            this.$store.commit(
                'chat/nachrichtSpeichern',{
                    id: this.benutzer.id,
                    nachricht: {
                        nachricht: [this.nachricht],
                        date: new Date().getDate(),
                        time: this.getTime(),
                        sender: 0
                    }
                }
            );
            this.nachricht = '';
            setTimeout(()=>window.scrollTo(0, document.body.scrollHeight), 500);
        },
        getTime(){
            return (new Date().getHours() < 10 ? '0' : '') + new Date().getHours()
                + ':'
                +  (new Date().getMinutes() < 10 ? '0' : '') + new Date().getMinutes();
        }
    }
}
</script>
