<template>
  <q-page class="gray-bg">
    <q-list class="white-bg">
      <q-item class="bottom-border" clickable v-ripple @click="$router.push('/sprache')">
        <q-item-section avatar>
          <q-icon style="font-size: 1.5em" name="language"/>
        </q-item-section>
        <q-item-section>Sprache</q-item-section>
      </q-item>

      <q-item class="bottom-border" clickable v-ripple>
        <q-item-section avatar>
          <q-icon style="font-size: 1.5em" name="backup"/>
        </q-item-section>
        <q-item-section>Chat Backup</q-item-section>
      </q-item>

      <q-item clickable v-ripple>
        <q-item-section avatar>
          <q-icon style="font-size: 1.5em" name="notifications"/>
        </q-item-section>
        <q-item-section>Benachrichtigungen</q-item-section>
      </q-item>

      <q-item clickable v-ripple @click="delete_account = true">
        <q-item-section avatar>
          <q-icon style="font-size: 1.5em" name="delete"/>
        </q-item-section>
        <q-item-section>Konto löschen</q-item-section>
      </q-item>
    </q-list>

    <q-dialog
      v-model="delete_account"
    >
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <img src="../statics/unhappy.svg" style="width: 5em;display: block; margin: auto">
        </q-card-section>

        <q-card-section class="text-center">
          Oh du willst uns verlassen? :-(
          Möchtest du wirklich dein Konto löschen?
        </q-card-section>

        <q-card-section>
          <div class="row text-center">
            <div class="col-6">
              <q-btn color="white" label="Abbrechen" class="ch-btn" @click="delete_account = false" style="color: black!important;"/>
            </div>
            <div class="col-6">
              <q-btn color="red" label="Löschen" class="ch-btn" @click="$router.push('/register')"/>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

  </q-page>
</template>

<style lang="stylus" scoped>
  .bottom-border
    border-bottom 1px solid #eee
</style>

<script>
export default {
  name: 'PageIndex',
    data(){
      return{
          delete_account: false
      }
    }
}
</script>
