<template>
  <q-page class="gray-bg">
    <q-list class="white-bg">
      <q-item class="bottom-border" clickable v-ripple>
        <q-item-section avatar>
          <img style="width: 1.5em" src="../statics/facebook.svg"/>
        </q-item-section>
        <q-item-section>Facebook</q-item-section>
      </q-item>

      <q-item class="bottom-border" clickable v-ripple>
        <q-item-section avatar>
          <img style="width: 1.5em" src="../statics/twitter.svg"/>
        </q-item-section>
        <q-item-section>Twitter</q-item-section>
      </q-item>

      <q-item clickable v-ripple>
        <q-item-section avatar>
          <img style="width: 1.5em" src="../statics/contacts.svg"/>
        </q-item-section>
        <q-item-section>Kontakte</q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<style lang="stylus" scoped>
  .bottom-border
    border-bottom 1px solid #eee
</style>

<script>
export default {
  name: 'PageIndex',
    data(){
      return{
      }
    }
}
</script>
