<template>
  <q-page class="gray-bg">
    <q-list class="white-bg">
      <q-item v-for="i in nachrichten" clickable :key="nachrichten.indexOf(i)" @click="$router.push({path: '/chat', query: {id: i.id}})">
        <q-item-section top avatar>
          <q-avatar :icon="i.bild" font-size="1em"/>
        </q-item-section>

        <q-item-section>
          <q-item-label><b>{{i.name}}</b></q-item-label>
          <q-item-label caption lines="2">{{getLetzteNachricht(i.nachrichten) != null ? getLetzteNachricht(i.nachrichten).nachricht[getLetzteNachricht(i.nachrichten).nachricht.length - 1] : ""}}</q-item-label>
        </q-item-section>

        <q-item-section side top>
          {{i.date}}
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<style lang="stylus" scoped>
  .q-list .q-item
    border-bottom 1px solid #eaeaea
</style>

<script>
export default {
  name: 'PageIndex',
    data(){
      return{
          nachrichten: this.$store.getters['chat/getNachrichten']
      }
    },
    methods: {
        getLetzteNachricht (nachrichten) {
          return nachrichten[nachrichten.length - 1];
        }
    }
}
</script>
