<template>
  <q-page class="gray-bg">

      <q-btn flat round dense icon="edit" class="q-mr-sm back-btn-mein-profile" color="white" @click="$router.replace('/anmelden')"/>


    <div class="meinprofil--header">
      <div class="banner-bild"></div>
      <div class="mein-bild"></div>
    </div>

    <q-list class="white-bg q-ma-md" borderd>
      <q-item>
        <q-item-section>
          <q-item-label caption>Vorname</q-item-label>
          <q-item-label><b>RA-JU</b></q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label caption>Nachname</q-item-label>
          <q-item-label><b>Almotheil</b></q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label caption>Position</q-item-label>
          <q-item-label><b>Web Developer</b></q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <q-item-label caption>Firma</q-item-label>
          <q-item-label><b>Almotheil GmbH</b></q-item-label>
        </q-item-section>
      </q-item>
    </q-list>


  </q-page>
</template>

<style lang="stylus" scoped>
.meinprofil--header
  height 50vh
.banner-bild
  height 40vh
  width 100%
  background url("../statics/banner.gif") center no-repeat
  background-size cover
.mein-bild
  height 10em
  width 10em
  border-radius 50%
  background url("../statics/profile.jpg") center no-repeat
  background-size cover
  margin -5em auto 0 auto
  box-shadow 1px 1px 8px rgba(0, 0, 0, .4)
.back-btn-mein-profile
  position absolute
  top 1em
  right 1em
</style>

<script>
export default {
  name: 'PageIndex',
    data(){
      return{
      }
    }
}
</script>
