<template>
  <q-page class="anmelden">
    <q-img
      src="../statics/logo.svg"
      spinner-color="white"
      class="app-logo"
    />

    <h4 class="text-center no-margin no-padding">Chat App</h4>

    <q-input outlined v-model="email" placeholder="E-Mail" style="margin-top: 2em;"/>
    <q-input outlined v-model="password" placeholder="Passwort" style="margin-top: .625em;"/>
    <q-input outlined v-model="passwordConfirm" placeholder="Passwort wiederholen" style="margin-top: .625em; margin-bottom: 2em"/>

    <q-btn color="primary" label="Registrieren" class="ch-btn"/>
  </q-page>
</template>

<style lang="stylus" scoped>
  .anmelden
    padding 0.625em
  .app-logo
    width 10em
    margin: 2em auto 4em;
    margin-top calc(4em - 50px)
    display: block;

  .anmelden p
    font-size 12px
</style>

<script>
export default {
  name: 'PageIndex',
    data(){
      return{
          email: '',
          password: '',
          passwordConfirm: ''
      }
    }
}
</script>
