// app global css in Stylus form
body
  font-size 16px
.opacity-l
  opacity .4
.ch-btn
  margin: auto;
  display: block;
  padding: .625em 2em;
  text-transform: capitalize;

.q-header .q-layout__shadow:after
  box-shadow none
.gray-bg
  background #eee
.white-bg
  background #fff
