<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated v-if="$route.path !== '/anmelden' && $route.path !== '/meinprofil'">
      <q-toolbar>
        <q-btn v-if="$route.path === '/home'" flat round dense icon="search" class="q-mr-sm" />
        <q-toolbar-title v-if="$route.path === '/home'" class="text-center">Nachrichten</q-toolbar-title>

        <q-toolbar-title v-if="$route.path === '/freundehinzufuegen'" class="text-center">Freunde Hinzufügen</q-toolbar-title>
        <q-toolbar-title v-if="$route.path === '/einstellungen'" class="text-center">Einstellungen</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer style="height: 3em">
      <q-tabs
        style="height: 3em"
        v-model="tab"
        dense
        align="justify"
        class="bg-primary text-white shadow-2"
        :breakpoint="0"
      >
        <q-tab name="home" icon="home" @click="$router.replace('/home')"/>
        <q-tab name="fruendeHinzufuegen" icon="supervisor_account"  @click="$router.replace('/freundehinzufuegen')"/>
        <q-tab name="camera" icon="camera" @click="status_hinzufuegen = true"/>
        <q-tab name="perm_identity" icon="perm_identity"  @click="$router.replace('/meinprofil')"/>
        <q-tab name="settings" icon="settings"  @click="$router.replace('/einstellungen')"/>
      </q-tabs>
    </q-footer>


    <q-dialog v-model="status_hinzufuegen" >
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="text-center">Status hinzufügen</q-card-section>

        <q-card-section>
          <div class="row">
            <q-icon name="camera" class="col-6" style="font-size: 3em;" />
            <q-icon name="collections" class="col-6" style="font-size: 3em;" />
            <div class="col-6 text-center">Foto aufnehmen</div>
            <div class="col-6 text-center">Von Galerie</div>
          </div>
        </q-card-section>

        <q-card-section>
          <q-btn color="gray" label="Abbrechen" class="ch-btn" style="color: black!important;" @click="status_hinzufuegen = false"/>
        </q-card-section>
      </q-card>
    </q-dialog>

  </q-layout>
</template>

<script>
export default {
  name: 'FirstLayout',

  data () {
    return {
        tab: 'home',
        status_hinzufuegen: false
    }
  }
}
</script>
