<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated v-if="$route.path !== '/anmelden'">
      <q-toolbar style="background-color: white;box-shadow: none">
        <q-btn flat round dense icon="arrow_back_ios" class="q-mr-sm" color="black" @click="$router.replace('/anmelden')"/>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>
