<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated v-if="$route.path !== '/anmelden'">
      <q-toolbar>
        <q-btn flat round dense icon="arrow_back_ios" color="white" @click="$router.go(-1)"/>

        <q-avatar :icon="$store.getters['chat/getBenutzer']($route.query.id).bild" font-size="1em" v-if="$route.path === '/chat'"/>
        <q-toolbar-title class="text-left q-pl-xs" v-if="$route.path === '/chat'">{{$store.getters['chat/getBenutzer']($route.query.id).name}}</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>


  </q-layout>
</template>

<script>
export default {
  name: 'FirstLayout',

  data () {
    return {
        tab: 'home',
        status_hinzufuegen: false
    }
  }
}
</script>
